!!!5
%html(ng-app='blog')
  %head
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    %title Angularjs blog example
    
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"
  
  %body(ng-controller="PostsCtrl")
    %form(ng-submit="create()")
      %ul#fields
        %li.field
          %input#post-title{placeholder: "Post title", type: "text"}(ng-model="newPost.title")
        %li.field
          %textarea#post-body{placeholder: "Post content"}(ng-model="newPost.content")
        %li.field
          %input{type: "submit"}

    %ul#posts
      %li.post(ng-repeat= "post in posts")
        %h2 {{post.title}}
        %p {{post.content}}
